{
  "parser": "babel-eslint",
  "extends": "eslint-config-airbnb/base",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "no-plusplus": 0,
    "max-classes-per-file": 0
  }
}
