{
  "parser": "babel-eslint",
  "extends": "eslint-config-airbnb/base",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "no-plusplus": 0,
    "max-classes-per-file": 0,
    "arrow-parens": 0,
    "comma-dangle": 0,
    "import/order": 0,
    "max-len": 0,
    "lines-between-class-members": 0
  }
}
